SESSION_SECRET=een-lange-willekeurige-geheime-waarde
MASTER_ADMIN_EMAIL=beheer@orangepos.nl
MASTER_ADMIN_PASSWORD=kies-een-sterk-masterwachtwoord
EMAIL_WEBHOOK_URL=https://uw-mailservice.example/send
EMAIL_WEBHOOK_TOKEN=uw-geheime-webhook-token
